<div class="page-container">
    <div class="heading-component-container">
        <app-heading-component 
            line1Text="New Study Note">
        </app-heading-component>
    </div>
    
    <div class="content-container">
        <div class="group-container">
            <input type="text" class="title-input" [placeholder]="'Title'" id="titleInput" autocomplete="off">
            <button class="title-btn animated-hover" (click)="addNote()">Go</button>
        </div>
        <div class="group-container">
            <mat-form-field appearance="fill" class="subject-selector">
                <label>Subject</label>
                <mat-select [value]="totalSubjectsList[0]" (valueChange)="updateSubject($event)">
                    <mat-option 
                        *ngFor="let subject of totalSubjectsList"
                        [value]="subject">{{subject}}</mat-option>
                </mat-select>
            </mat-form-field>
            <app-categories-list 
                class="tag-selector"
                [defaultText]="''"
                [id]="'tagInput'"
                [doAutoFill] = "false"
                (categoryList)="updateCategoriesList($event)"
                ></app-categories-list>
        </div>
        <div class="group-container">
            <app-text-input class="content-input"
                (userInput)="updateContent($event)"></app-text-input>
        </div>
    </div>
    
</div>
