<div class="sidebar-container" id="sideBar">
    <div class="toggle-container">
        <app-sidebar-toggle></app-sidebar-toggle>
    </div>

    <div class="heading-container">
        <h2 class="heading-text">Your stuff</h2>
    </div>

    <div class="options-container">
        <div class="options-item-container">
            <img src="../../../../assets/table.svg" alt="Timetable Icon" class="options-img white">
            <h3 class="options-text heading-text">Timetable</h3>
        </div>
    </div>
</div>