.menu{
    &-container{
        position: absolute;
        top: 1%;
        left: 0.75%;
        height: 35px;
        width: 35px;

    }
}

.loading-container{
    position: absolute;
    bottom: 3%;
    right: 1%;
    height: 80px;
    width: 80px;
}