<div class="heading-component-container">
    <app-heading-component 
        line1Text="Your Timetable"
        line2Text="{{ currentDay }} Week {{ currentWeek }}">
    </app-heading-component>
</div>

<div class="week-container">
    <div class="week-heading-container" [ngClass]="{'highlight': isWeekA === true}">
        <h2 class="week-heading-text">Week A</h2>
    </div>
    <div class="week-table-container">
        <div class="week-day-container" *ngFor="let dayData of weekAData">
            <app-timetable-day class="week-day-component" [timetableData]=dayData  [isCurrentWeek]=isWeekA ></app-timetable-day>
        </div>
    </div>
</div>
<div class="week-container">
    <div class="week-heading-container" [ngClass]="{'highlight': isWeekB === true}">
        <h2 class="week-heading-text">Week B</h2>
    </div>
    <div class="week-table-container">
        <div class="week-day-container" *ngFor="let dayData of weekBData">
            <app-timetable-day class="week-day-component" [timetableData]=dayData [isCurrentWeek]=isWeekB ></app-timetable-day>
        </div>
    </div>
</div>
