.widgets{
    &-container{
        width: 98%;
        height: 75%;
        margin: auto;
        margin-top: 15px;
    }
    &-grid{
        width: 100%;
        height: 100%;
        max-height: 100%;
        overflow-y: hidden;
    }
    &-item{
        padding: -10px;
        border-radius: 15px;
        background: linear-gradient(to top, #0f0c29, #191444); 
        background-attachment: fixed;
    }
    &-content{
        &-container{
            width: 95%;
            height: 100%;
            margin: auto;
            position: absolute;
            top: 0%;
            left: 50%;
            transform: translateX(-50%);
            z-index: 1 !important;
        }
    }
} 

.edit{
    &-container{
        position: absolute;
        height: 50px;
        aspect-ratio: 1/1;
        bottom: 2%;
        right: 1%;
        background-color: var(--bottom-bg-color);
        border-radius: 15px 0px 15px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &-img{
        height: 65%;
        width: auto;
        cursor: pointer;
        z-index: 5;
    }
}

.adjust{
    &-container{
        position: fixed;
        bottom: -20%;
        height: 20%;
        width: 100%;
        transition: all 0.5s ease;
        background-color: var(--bottom-bg-color);
        z-index: 2;
    }
    &-new{
        &-container{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 15px;
            
        }
        
        &-btn{
            height: 50px;
            width: 100px;
            margin-top: -10px;
            border: none;
            background-color: var(--mid-bg-color);
            border-radius: 15px 0px 15px 0px;
        }
    }
}
.pulledUp{
    bottom: 0%;
}

.title{
    margin-left: 15px;
}

.close{
    &-container{
        width: 15px;
        height: auto;
        position: absolute;
        top: 0%;
        left: 0%;
        z-index: 5;
    }
}

.cover{
    top: 0%;
}