<div class="background" #bg id="background"></div>

<div class="heading-component-container">
    <app-heading-component 
        line1Text="Settings"
        line2Text="">
    </app-heading-component>
</div>

<div class="options-container">
    <div class="options-item-container component-container expanded" #newFileUpload (click)="newFileUpload.classList.add('expanded'); bg.classList.add('dim')">
        <div class="heading-container ">
            <h2 class="heading-text">Upload New .ical file</h2>
        </div>
        <div class="thumbnail-container">
            <img src="../../../../assets//new-file.svg" alt="" class="thumbnail-img white">
        </div>
        <div class="content-container">
            <app-new-file></app-new-file>
        </div>
    </div>
    <div class="options-item-container component-container" #test (click)="test.classList.add('expanded'); bg.classList.add('dim')">
        <div class="heading-container ">
            <h2 class="heading-text">Upload New .ical file</h2>
        </div>  
    </div>
</div>
