<div class="page-container">
    <div class="heading-component-container">
        <app-heading-component 
            line1Text="{{ greetingText }} {{ userName }}"
            line2Text="{{ timeText }}">
        </app-heading-component>
    </div>
    <div class="widgets-container">
        <div class="widgets-content-container main-col">
            <app-timetable-column [currentDate]='"today"' [id]='1' [toggleEmitter]="timeEmitter"></app-timetable-column>
        </div>
        <div class="widgets-content-container">
            <app-day-spinner  (btnPress)="toggleTimeDisplay()"></app-day-spinner>
        </div>
        <div class="widgets-content-container main-col">
            <app-timetable-column [currentDate]='"tomorrow"' [id]='1' [toggleEmitter]="timeEmitter"></app-timetable-column>
        </div>
    </div>
</div>
