<div class="page-container">
    <div class="heading-component-container">
        <app-heading-component 
            line1Text="{{ greetingText }} {{ userName }}"
            line2Text="{{ timeText }}">
        </app-heading-component>
    </div>
    <div class="widgets-container">
    <ktd-grid 
        [cols]="colCount"
        [rowHeight]="100"
        [layout]="layout"
        [compactType]="compactType"
        [preventCollision]="'True'"
        [scrollableParent]="'True' ? document : null"
        scrollSpeed="4"
        id="widgetContainer"
        class="widgets-grid"> 
        <ktd-grid-item *ngFor="let item of layoutData" [id]="item.id.toString()" class="widgets-item" draggable="{{editableWidgets}}" resizable="{{false}}">
            <!-- CODE FOR WIDGET CONTENT -->
            <div class="close-container" *ngIf="editableWidgets">
                <img src="../../../../assets/close.svg" alt="Settings" class="white edit-img" (click)="deleteWidget(item.id)"> 
            </div>
            <div class="widgets-content-container">
                <app-timetable-column *ngIf='item.presetType == "timetableDay"' [displaySettings]="editableWidgets" [id]=item.id [toggleEmitter]="timeEmitter"></app-timetable-column>
                <app-day-spinner *ngIf='item.presetType == "timeBtn"' (btnPress)="toggleTimeDisplay()"></app-day-spinner>
                <app-note-widget *ngIf="item.presetType == 'note'" [displaySettings]="editableWidgets" [id]="item.id"></app-note-widget>
            </div>
        </ktd-grid-item>
    </ktd-grid>
        <div class="edit-container">
            <img src="../../../../assets/settings.svg" alt="Settings" class="white edit-img" (click)="toggleWidgetEditing()">
        </div>
    </div>
    <div class="adjust-container" id="adjustContainer">
        <h2 class="title">Adjust Widgets </h2>
        <div class="adjust-new-container">
            <h3 class="title">Add New Widget of type</h3>
            <mat-form-field appearance="fill" class="adjust-new-field">
                <mat-label>Type</mat-label>
                <mat-select class="adjust-new-select" [(value)]="newWidgetType">
                  <mat-option [value]="'timetableDay'" class="mat-option">Timetable Day</mat-option>
                  <mat-option [value]="'note'" class="mat-option">Note</mat-option>
                  <mat-option [value]="'timeBtn'" class="mat-option">Time Button</mat-option>
                </mat-select>
            </mat-form-field>
            <button class="adjust-new-btn animated-hover" (click)="addNewWidget()">Add</button>
        </div>

        <div class="edit-container">
            <img src="../../../../assets/close.svg" alt="Settings" class="white edit-img" (click)="toggleWidgetEditing()">
        </div>
    </div>

</div>