<div class="steps-container">
    <div class="form-container">
        <form (submit)="updateAddress($event)" class="form">
            <input type="text" [value]="currentAdress" class="form-input" id="addressInput">
            <button class="form-btn animated-hover">{{ submitText }}</button>
        </form>
        <br>
        <form (submit)="updateAddress($event)" class="form">
            <input type="text" [value]="currentKey" class="form-input" id="keyInput">
            <button class="form-btn animated-hover">{{ submitText }}</button>
        </form>
    </div>
</div>