.time{
    &-container{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &-btn{
        width: 80%;
        height: 80%;
        margin: auto;
    
        background-color: var(--mid-bg-color);
        border-radius: 15px 0px 15px 0px;
        font-size: 1.45rem;
        border: none;
    }
}
