<div class="table-container">
    <div class="table-box heading-box" [ngClass]="{'highlight': isToday === true}">
        <div>
            <h1 class="table-text heading-text">{{titleText}}</h1>
            <h1 class="table-text heading-text">{{ dayNames[timetableData[0].startDate.getDay()] }}</h1>
        </div>
    </div>
    <div class="table-row" *ngFor="let period of timetableData">
        <div class="table-box table-box-period" [ngClass]="{'highlight': period.isCurrent === true}">
            <h1>{{ period.period[0] }}</h1>
        </div>
        <div class="table-box table-box-contents classBox" [ngClass]="{'highlight': period.isCurrent === true}">
            <h4 class="table-text table-text-classname">{{ period.classname }}</h4>
            <h4 class="table-text table-text-location">{{ period.location }}</h4>
            <h4 class="table-text table-text-teacher">{{ period.teacher.toLowerCase() }}</h4>
        </div>
        
        <div class="table-box table-box-contents timeBox hide" [ngClass]="{'highlight': period.isCurrent === true}" *ngIf="doTimes">
            <h4 class="table-text table-text-classname" *ngIf="period.startDate.getHours() < 12">
                Start: {{ period.startDate.getHours() }}:{{ ("0" + period.startDate.getMinutes()).slice(-2) }}am
            </h4>
            <h4 class="table-text table-text-classname" *ngIf="period.startDate.getHours() == 12">
                Start: 12:{{ ("0" + period.startDate.getMinutes()).slice(-2) }}pm
            </h4>
            <h4 class="table-text table-text-classname" *ngIf="period.startDate.getHours() > 12">
                Start: {{ period.startDate.getHours() - 12}}:{{ ("0" + period.startDate.getMinutes()).slice(-2) }}pm
            </h4>


            <h4 class="table-text table-text-classname" *ngIf="period.endDate.getHours() < 12">
                End: {{ period.endDate.getHours() }}:{{ ("0" + period.endDate.getMinutes()).slice(-2) }}am
            </h4>
            <h4 class="table-text table-text-classname" *ngIf="period.endDate.getHours() == 12">
                End: 12:{{ ("0" + period.endDate.getMinutes()).slice(-2) }}pm
            </h4>
            <h4 class="table-text table-text-classname" *ngIf="period.endDate.getHours() > 12">
                End: {{ period.endDate.getHours() - 12}}:{{ ("0" + period.endDate.getMinutes()).slice(-2) }}pm
            </h4>

            <h4 class="table-text table-text-classname" *ngIf="period.isCurrent">
                Remaining mins: {{minutesRemaining}}
            </h4>
        </div>
    </div>
</div>