<div class="steps-container" >
    <div class="item-container">
        <h3 class="heading-text">Edit Existing Data</h3>
        <img src="../../../../assets/settings.svg" alt="Settings Icon" class="item-img white">
        <button class="item-btn animated-hover" (click)="openTimetablePage()" [ngClass]="{'disable' : hasTimetable == false}">Edit</button>
    </div>
    <div class="item-container">
        <h3 class="heading-text">Upload your ical file from Sentral Below</h3>
        <img src="../../../../assets/new-file.svg" alt="Settings Icon" class="item-img white">
        
        <form action="" class="item-form">
            <input type="file" accept=".ics" class="steps-item-form-input" (change)="onFileUpload($event)"> 
        </form>
    </div>
</div>