.loading{
    &-container{
        width: 5%;
        aspect-ratio: 1/1;
        margin: auto;
        margin-top: 50px;
    }
}
.hide{
    display: none;
}
.news{
    &-list{
        &-container{
            width: 75%;
            margin: auto;
            margin-top: 150px;
            animation: scale-in-center 1.2s ease;
            display: flex;
            flex-direction: column;
            gap: 15px;
        }
        
    }
    &-item{
        animation: scale-in-center 1.2s ease;
        width: 100%;
        height: 200px;
        display: flex;
        flex-direction: row;
        transition: all 1s ease;

        &-img{
            margin-top: 7.5%;
            margin-left: 3%;
            width: auto;
            height: 85%;

            border-radius: 10px 0px 10px 0px;
        }

        &-text{
            &-container{
                margin-left: 35px;
            }
        }
    }
}

@media screen and(max-width: 1600px){
    .loading-container{
        width: 7.5%;
    }
}

@media screen and(max-width: 500px){
    .loading-container{
            width: 35%;
    }
    .news{
        &-list{
            &-container{
                width: 100%;
            }
        }
        &-item{
            &-img{
                width: 100px;
                // border-radius: 100%;
                height: auto;
                margin-top: 10%;
            }
            &-text{
                &-headline{
                    font-size: 0.85rem;
                }
                &-byline{
                    font-size: 0.75rem;
                }
            }
        }
    }
}