.categories{
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;

    &-img{
        height: 25px;
        width: auto;
        transform: rotate(45deg);
        cursor: pointer;

        &-del{
            height: 25px;
            width: auto;
            cursor: pointer;
        }
    }

}



.addTag{
    background-color: var(--mid-bg-color);


    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: 25px;
}