.widgets{
    &-container{
        width: 95%;
        height: 75%;
        margin: auto;
        margin-top: 15px;

        display: flex;
        flex-direction: row;
    }
    &-content{
        &-container{
            width: 35%;
            height: 100%;
            margin: auto;
            z-index: 1 !important;
            overflow-y: hidden;
            overflow-x: hidden;
        }
    }
} 

.main-col{
    width: 80% !important;
}