<div class="page-container">
    <div class="background" #bg id="background"></div>

    <div class="heading-component-container">
        <app-heading-component 
            line1Text="Settings"
            line2Text="">
        </app-heading-component>
    </div>
    
    <div class="options-container">
        <div class="options-item-container" *ngIf="screenWidth > 500" id="fileOption" (click)="expandPopUp('fileOption')">
            <div class="heading-container ">
                <h2 class="heading-text">Timetable Settings</h2>
            </div>
            <div class="thumbnail-container">
                <img src="../../../../assets/table.svg" alt="" class="thumbnail-img white">
            </div>
            <div class="content-container">
                <app-new-file></app-new-file>
            </div>
        </div>
        <!-- <div class="options-item-container" #newsSource id="newsOption" (click)="expandPopUp('newsOption')">
            <div class="heading-container ">
                <h2 class="heading-text">Change the web adress were news is sourced</h2>
            </div>
            <div class="thumbnail-container">
                <img src="../../../../assets/connection.svg" alt="" class="thumbnail-img white">
            </div>
            <div class="content-container">
                <app-ip-changer></app-ip-changer>
            </div>
        </div> -->
    </div>
    
    <p class="versionNum">{{build}}-{{deviceType}} | ver {{version}}</p>
</div>