.newNote{
    &-container{
        gap: 15px;

        height: 95px;
        width: 55vw;
        margin: auto;

        transition: all 0.5s ease;

        overflow-y: hidden;
        margin-top: 75px;
    }
    
    &-span{
        display: flex;
        flex-direction: row;
        gap: 15px;
        width: 50vw;

        align-items: center;
        justify-content: center;
    }

    &-categories{
        width: 50vw;
        height: 25px;
        margin-bottom: 10px;
    }

    &-input{
        flex: 0.85;
        height: 75px;
        width: 100%;
        background-color: var(--bottom-bg-color);
        border: none;
        margin-top: 15px;
        margin-bottom: 15px;

        margin-left: 15px;
        border-radius: 15px 0px 15px 0px;

        font-size: 2rem;
    }
    &-rich{
        margin-top: 15px !important;
        height: 300px !important; 
        z-index: 4 !important;
    }

    &-btn{
        flex: 0.1;
        height: 55px;
        width: 100%;

        background-color: var(--mid-bg-color);
        border-radius: 15px 0px 15px 0px;

        transform: translateY(-5px);

        border: none;

    }
}

.search{
    &-container{
        width: 35%;
        margin-top: 145px;
        margin-left: 20px;
    }
    &-heading{
        margin-bottom: 0px;
    }

    &-input{
        margin-top: 10px !important;
        margin-left: 0px !important;
        height: 50px !important;
    }
    &-sort{
        margin-top: 15px;
    }
}

.note{
    &-container{
        width: 95%;
        height: fit-content;
        margin: auto;
        margin-top: 100px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        // justify-content: center;
        gap: 35px;

        padding-bottom: 150px;
    }
    &-item{
        &-container{
            width: fit-content;
            height: fit-content;
            background-color: var(--bottom-bg-color);
            border-radius: 15px 0px 15px 0px;

            padding: 10px 20px;
            min-width: 400px;
            max-width: 45%;
            box-shadow: 5px 5px 5px #000;

            transition: all 0.5s ease;
        }

        &-heading{
            text-align: center;
            background-color: rgba($color: #ffffff, $alpha: 0.15);
            margin: auto;
            padding: 10px 30px !important;
        }
        &-tags{
            &-container{
                width: 100%;
                margin: auto;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: left;
                gap: 10px;
            }
        }
        &-bottomBar{
            height: 50px;
            transition: all 0.5s ease;
            
            margin-top: 50px;

            display: flex;
            flex-direction: row;
            gap: 5px;
            align-items: center;
    
            &:hover{
                background-color: rgba($color: #000000, $alpha: 0.25);
            }
    
            &-img{
                height: 65%;
                width: auto;
                cursor: pointer;
                margin-left: 15px;
            }
    }
    }

}



.note-content {
    ::ng-deep {
        img{
            width: 100%;
            height: auto;
            max-height: 350px;
        }
        table{
            border: none !important;    
        }
        tr:nth-child(even) {
            background-color: rgba($color: #000000, $alpha: 0.15);
        }
        td, th{
            width: fit-content;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 50px;
            padding-right: 50px;

            border: 1px black solid;
        }
        p{
            font-size: 1.2rem;
        }
    }
}

.heading-tag{
    height: 35px !important;

}

.extended{
    height: 550px;
    padding-bottom: 15px;
}