<div class="heading-component-container">
    <app-heading-component 
        line1Text="Your Notes">
    </app-heading-component>
</div>

<div class="newNote-container" #newNoteContainer>
    <form action="">
        <span class="newNote-span">
            <input class="newNote-input" type="text" placeholder="My Note Title" (focus)="newNoteContainer.classList.add('extended')">
            <button class="newNote-btn animated-hover">Go</button>
        </span>
        <app-notes-input></app-notes-input>
    </form>
</div>