<div class="heading-component-container">
    <app-heading-component 
        line1Text="Your Notes">
    </app-heading-component>
</div>

<div class="newNote-container" #newNoteContainer id="newNoteContainer">
    <form action="">
        <span class="newNote-span">
            <input class="newNote-input" 
                type="text" 
                #newNoteTitle 
                placeholder="Take a note..." 
                (focus)="newNoteContainer.classList.add('extended'); newNoteTitle.placeholder='Title'"
                autocomplete="off"
                id="newNoteTitle">
            <button class="newNote-btn animated-hover" 
                (click)="newNote($event); 
                newNoteContainer.classList.remove('extended');
                newNoteTitle.placeholder='Take a note...';
                ">Save</button>
        </span>
        <app-categories-list class="newNote-categories" [defaultText]="'New Tag'" (categoryList)="updateCategoryList($event)" [id]="'newNote'"></app-categories-list>
        <app-text-input (userInput)="updateNoteContent($event)" class="newNote-rich"></app-text-input>
    </form>
</div>

<div class="search-container">
    <h1 class="search-heading">Search your Notes</h1>
    <input class="newNote-input search-input"
        #searchInput
        (keyup)="updateSearchString(searchInput)" 
        type="text" 
        placeholder="Search" 
        autocomplete="off"
        id="searchInput">
    <app-categories-list class="newNote-categories search-categories" 
        [defaultText]="'Search Tag'" 
        (categoryList)="updateSearchCategories($event)"
        [id]="'searchList'"></app-categories-list>
</div>

<div class="noteList-container">
    <div class="noteList-item-container" *ngFor="let note of displayNoteList">
        <h1 class="noteList-item-heading tag heading-tag">{{note.title}}</h1>
        <div class="noteList-item-tags-container">
            <p class="tag">{{note.timeCreated | date}}</p>
            <p class="tag">By {{note.author}}</p>
            <p class="tag" *ngFor="let tag of note.categoryList">{{tag}}</p>
        </div>
        <div class="noteContentContainer" [innerHTML]="note.content">
        </div>
        <div class="noteList-item-bottomBar">
            <img src="../../../../assets/close.svg" alt="Delete Note" class="noteList-item-bottomBar-img white" (click)="deleteNote(note)">
            <img src="../../../../assets/edit.svg" alt="Edit Note" class="noteList-item-bottomBar-img white" (click)="editNote(note)">
        </div>

    </div>
</div>