<div class="table-container">
    <div class="table-box" [ngClass]="{'highlight': isToday === true}">
        <h1 class="table-text table-text-heading">{{ dayNames[timetableData[0].startDate.getDay()] }}</h1>
    </div>
    <div class="table-row" *ngFor="let period of timetableData">
        <div class="table-box table-box-period" [ngClass]="{'highlight': period.isCurrent === true}">
            <h1>{{ period.period[0] }}</h1>
        </div>
        <div class="table-box table-box-contents" [ngClass]="{'highlight': period.isCurrent === true}">
            <h4 class="table-text table-text-classname">{{ period.classname }}</h4>
            <h4 class="table-text table-text-location">{{ period.location }}</h4>
            <h4 class="table-text table-text-teacher">{{ period.teacher.toLowerCase() }}</h4>
        </div>
    </div>
</div>