.table{
    &-container{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &-row{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
    }

    &-box{
        background-color: var(--bottom-bg-color);
        border-radius: 10px 0px 10px 0px;
        width: 100%;
        height: 95px;
        margin-bottom: 15px;

        &-period{
            flex: 0.15;
            text-align: center;
            margin-right: 10px;
        }

        &-contents{
            flex: 0.85;
            display: flex;
            flex-direction: row;
            justify-content: left ;
        }
    }
    
    &-text{
        width: 100%;
        margin-top: 15px;
        margin-left: 5px;
        text-align: center;
        text-transform: capitalize;
        overflow-x: hidden;

        &-heading{
            margin: auto;
            margin-top: 5%;
            text-align: center;
        }
        &-classname{
            height: 80%;
            overflow-y: hidden;
        }

    }
}

.highlight{
    background-color: var(--mid-bg-color);
}