<div class="section-container" *ngIf="doCloudSync">
    <h3 class="heading-text" >Sync your User Data to the cloud</h3>
    <div class="toggle-container">
        <app-toggle-switch 
            *ngIf = "doCloudSync"
            [label1]="'Enable Cloud Sync'" 
            [label2]="'Disable Cloud Sync'"
            [defaultVal]="defaultToggleVal"
            (state)="updateCloudState($event)"
            [elemID]="'syncToggle'"></app-toggle-switch>
    </div>
</div>
<div class="section-container large">
    <h3 class="heading-text">User Settings</h3>
    <form class="form-container" #userForm (submit)="updateUserSettings($event)">
        <p class="form-text">Your Name</p>
        <input type="text" name="Name" id="nameInput" class="form-input" placeholder="Name" [value]="userName">
        <p class="form-text" *ngIf="doCloudSync">Your Email</p>
        <input type="text"
            name="Email" 
            id="emailInput"
            class="form-input" 
            placeholder="Email" 
            *ngIf="doCloudSync"
            [disabled]="true"
            [value]="email">
    </form>
    <div class="toggle-container">
        <app-toggle-switch
            [label1]="'Show Disconnect Message'"
            [label2]="'Hide Disconnect Message'"
            [defaultVal]="defaultLabel"
            [elemID]="'msgToggle'"
            (state)="updateDisconnectMsg($event)"
        ></app-toggle-switch>
    </div>
    <button class="form-btn animated-hover" (click)="updateUserSettings($event)">Submit</button>
    <button class="animated-hover wipe-btn" (click)="wipeApp()">Wipe BaseCamp</button>
    
</div>
