.time{
    &-container{
        width: fit-content;
        height: fit-content;
        margin: auto;

        margin-top: 25px;
    }
    &-btn{
        width: 150px;
        height: 55px;
        background-color: var(--mid-bg-color);
        cursor: pointer;
        border: none;
        border-radius: 15px 0px 15px 0px;

    }
}



.week{
    &-container{
        width: 100%;
        height: fit-content;
        margin-top: 10px;

    }


    &-heading{
        &-container{
            margin-left: 15px;
            border-radius: 15px 0px 15px 0px;
            background-color: rgba(0, 0, 0, 0.3);
            height: fit-content;
            width: fit-content;
            padding: 10px 5px;
            margin-bottom: 15px;
        }
        &-text{
            text-transform: capitalize;
        }
    }

    &-table{
        &-container{
            width: 95%;
            display: flex;
            flex-direction: row;
            gap: 15px;
            margin: auto;
        }
    }
    &-day{
        &-container{
            width: 85%;
            height: fit-content;
        }
    }
}

.highlight{
    background-color: var(--mid-bg-color);
}