.gap{
    &-container{
        height: 250px;
        width: 100%;
    }
}

.calibration{
    &-container{
        width: 25%;
        height: 850px;
        margin: auto;
        margin-top: 25px;
    }
}