<div class="heading-component-container">
    <app-heading-component 
        line1Text="Setup your timetable"
        line2Text="Follow the below steps to properly setup timetable data">
    </app-heading-component>
</div>

<div class="gap-container"></div>

<div class="section-container">
    <div class="section-item">
        <div class="subheading-container">
            <h2 class="subheading-text">Is the day below Monday of Week A or Week B?</h2>
        </div>
        
        <div class="calibration-container">
            <app-timetable-day class="calibration-day" [timetableData]= calibrationData ></app-timetable-day>
        </div>
        <div class="toggle-container">
            <app-toggle-switch label1="Week A" label2="Week B" defaultVal="{{defaultCalibrationOption}}" elemID="calibrate"(state)="updateCalibration($event)" id="calibrationToggle"></app-toggle-switch>
        </div>
    </div>
    <div class="section-item">
        <div class="subheading-container">
            <h2 class="subeading-text">What week is it this week?</h2>
            <h4 class="subeading-text">(If its the weekend, Sunday represents the start of the new week)</h4>
        </div>
        <div class="toggle-container">
            <app-toggle-switch label1="Week A" label2="Week B" defaultVal="{{currentWeekOption}}" elemID="current" (state)="updateWeekLetter($event)" id="currentToggle"></app-toggle-switch>
        </div>

        <div class="subheading-container">
            <h2 class="subeading-text">What week number is it this Week?</h2>
            <h4 class="subeading-text">(If its the weekend, Sunday represents the start of the new week)</h4>
        </div>
        <form class="weekNumber-form" (submit)="updateWeekNumber($event)">
            <input class="weekNumber-input" type="number" id="weekNumberInput">
        </form>
    </div>
</div>