<div class="row-container">
    <div class="settings-container" [ngClass]="{cover: displaySettings}">
        <div class="title-text">Displayed Date</div>
        <mat-form-field appearance="fill" class="adjust-new-field">
            <mat-label>Day</mat-label>
            <mat-select class="adjust-new-select" [(value)]="currentDate">
                <mat-option [value]="'today'" class="mat-option">Today</mat-option>
                <mat-option [value]="'tomorrow'" class="mat-option">Tomorrow</mat-option>
                <mat-option [value]="'monA'" class="mat-option">Monday A</mat-option>
                <mat-option [value]="'tueA'" class="mat-option">Tuesday A</mat-option>
                <mat-option [value]="'wedA'" class="mat-option">Wednesday A</mat-option>
                <mat-option [value]="'thuA'" class="mat-option">Thursday A</mat-option>
                <mat-option [value]="'friA'" class="mat-option">Friday A</mat-option>
                <mat-option [value]="'monB'" class="mat-option">Monday B</mat-option>
                <mat-option [value]="'tueB'" class="mat-option">Tuesday B</mat-option>
                <mat-option [value]="'wedB'" class="mat-option">Wednesday B</mat-option>
                <mat-option [value]="'thuB'" class="mat-option">Thursday B</mat-option>
                <mat-option [value]="'friB'" class="mat-option">Friday B</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>

<!-- <div class="title-container">
    <h2 class="title">Day to be shown</h2>
    <div class="adjust-new-container">
        
        <button class="adjust-new-btn animated-hover" (click)="addNewWidget()">Add</button>
    </div>
</div> -->