.time{
    &-container{
        width: fit-content;
        height: fit-content;
        margin: auto;

        margin-top: 25px;
    }
    &-btn{
        width: 150px;
        height: 55px;
        background-color: var(--mid-bg-color);
        cursor: pointer;
        border: none;
        border-radius: 15px 0px 15px 0px;
        margin-bottom: 10px;

    }
}

.display{
    &-container{
        width: 95%;
        height: 50px;
        margin: auto;
        display: flex;
        flex-direction: row;
        gap: 15px;

        margin-top: 10px;
        border-radius: 15px 0px 15px 0px;

        background-color: var(--bottom-bg-color);
        padding-bottom: 20px;
    }

    &-field{
        width: 150px;

    }
}

.week{
    &-day{
        &-container{
            width: 45%;
            margin: auto;
            height: fit-content;
        }
    }
}
